html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F0F0F0;

  @include respond-to(max-width, $desktop) {
    font-size: 1.5em;
  }

  @include respond-to(max-width, $tablet) {
    font-size: 2em;
  }
}

.container-padding{
  padding: 10px;
}

.row-padding-top{
  padding-top: 150px;
}

/*Navigation*/

.navbar {
  background-color: #FFF;

  .navbar-form{
    border: none;

    input[type=text]{
      width:430px;

      @include respond-to(max-width, $desktop) {
        width:330px;
      }

      @include respond-to(max-width, $tablet) {
        width:auto;
      }
    }
  }
}