html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F0F0F0;
  font-size: 2em;

  @include respond-to($small-device) {
    font-size: 1.5em;
  }

  @include respond-to($medium-device) {
    font-size: 14px;
  }
}

.container-padding{
  padding: 10px;
}

.row-padding-top{
  padding-top: 150px;
}

/*Navigation*/

.navbar {
  background-color: #FFF;

  .navbar-form{
    border: none;

    input[type=text]{
      width: auto;

      @include respond-to($small-device) {
        width: 330px;
      }

      @include respond-to($medium-device) {
        width: 430px;
      }
    }
  }
}